appnope==0.1.0
backcall==0.1.0
decorator==4.3.0
Django==1.11.7
django-redis==4.9.0
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.12.0
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2018.4
redis==2.10.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
